<% if user_signed_in? %>
    <a class="back-button" href="/groups">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left arrow" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    </a>
  <div>
  <h1 class="new-category-heading">New Category</h1>
  <% if @category.errors.any? %>
    <div class="post-errors-box">
      <p><%= pluralize(@category.errors.count, "error") %> found:</p>

      <ul class="post-errors-ul">
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with url: "/groups", model: @category, class: 'new-category' do |form| %>
    <div class="input-div field">
      <%= form.text_field :name, required: true, class: 'input-field', placeholder: 'Name'  %>
    </div>
    <div class="input-div field">
      <%= form.text_field :icon, required: true, class: 'input-field', placeholder: 'Icon URL' %>
    </div>
    <div class="submit-button actions">
      <%= form.submit "Save", class: 'splash-second-link'%>
    </div>
  <% end %>
</div>
<% else %>
  <p>Please, sign in to create a category item</p>
<% end %>
