<h2 class="log-in">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: 'splash-second-link' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
